body {
	background-color: #000;
}

@font-face {
	font-family: robot;
	src: url(digital_tech.otf);
}
#head-container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

#main-container {
	max-width: 960px;
	margin: 0 auto;
}

.robot-style{
	background-color: #000;
	font-family: robot;
	color: #66fa2d;
}

.game-board {
	border: dotted 5px;
	height: 400px;
}

#trail {
	text-align: center;
}