body {
	background-color: #000;
}

@font-face {
	font-family: robot;
	src: url(digital_tech.otf);
}

button {
	background-color: #000;
	border: dotted 1px #66fa2d;
}

#head-container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

#main-container {
	max-width: 960px;
	margin: 0 auto;
}

.robot-style{
	background-color: #000;
	font-family: robot;
	color: #66fa2d;
}

.game-board {
	border: dotted 5px;
}

#trail {
	text-align: center;
}

/* Media Querries */
@media screen and (min-width: 992px){
	.game-board {
		height: 400px;
	}
	
}